* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: crimson;
    font-family: 'Times New Roman', Times, serif;
    height: 120px;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Onepice no scroll logo */
.logo {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    font-style: italic;
    text-shadow: -15px 10px 5px black;
    position: relative;
    right: 150px;
}

.logo>h1::first-letter {
    font-size: 50px;
}

/* one piece logo img */

.logo_img {
    position: relative;
    left: 130px;
    padding-bottom: 15px;
    z-index: 3;
}

/* one piece scrolling title */
.logo_title .lt1 {
    color: white;
    position: relative;
    width: 115px;
    left: 48px;
    z-index: 1;
}

.logo_title .lt2 {
    color: white;
    position: relative;
    width: 100px;
    right: 280px;
    z-index: 2;
}

.logo_title h2::first-letter {
    font-size: 40px;
}

/* nav list */
.list {
    padding: 10px 10px 10px 50px;
}

li {
    list-style: none;
    display: inline-block;
}

li>a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

li>a:hover {
    color: black;
}

/* sign in button */
.navbar button {
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

.navbar button>a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.navbutton:hover {
    background-color: blue;
}

.navbutton:active {
    background-color: green;
}

header {
    background-color: antiquewhite;
    height: 100px;
}

.head_img {
    position: relative;
    bottom: 25px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 30px;
}

header button {
    width: 150px;
    height: 30px;
    border-color: black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
}

header .button button:hover {
    transform: scale(1.2);
}

header .button img {
    position: relative;
    top: 3px;
    left: 15px;
}

header .button h4 {
    position: relative;
    left: 30px;
    margin-top: 5px;
}

header .button .b1 {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

header .button .b2 {
    background-color: #1877F2;
}

header .button .b3 {
    background-color: #229ED9;
}

header .button .b4 {
    background-color: #25D366;
}

main {
    height: 2100px;
    background-color: black;
}

main .crew1 {
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    position: relative;
    top: 50px;
    transition: transform 0.2s ease;
}

main .crew1 a img:hover {
    transform: scale(1.1);
}

main .crew1 h2 {
    margin: 30px;
}

main .crew2 {
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    margin-top: 150px;
    transition: transform 0.2s ease;
}

main .crew2 a img:hover {
    transform: scale(1.1);
}

main .crew2 h2 {
    margin: 30px;
}

main .crew3 {
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    margin-top: 150px;
    transition: transform 0.2s ease;
}

main .crew3 a img:hover {
    transform: scale(1.1);
}

main .crew3 h2 {
    margin: 30px;
}

main .crew4 {
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    margin-top: 150px;
    transition: transform 0.2s ease;
}

main .crew4 a img:hover {
    transform: scale(1.1);
}

main .crew4 h2 {
    margin: 30px;
}



footer {
    height: 50px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
